{% extends 'fe/base.html' %}
{% load static %}
{% block meta %}
<title>Privacy Policy - {{webSettingsUniversal.title}}</title>
<meta name="description" content="{{webSettingsUniversal.meta_description}}">
<meta name="keywords" content="{{webSettingsUniversal.meta_keywords}}">
<meta property="og:title" content="Privacy Policy - {{webSettingsUniversal.title}}"/>
<meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
<meta property="og:site_name" content="{{webSettingsUniversal.title}} - {{webSettingsUniversal.slogan}}"/>
{% endblock %}
{% block content %}
<section class="wrapper bg-light">
    <div class="container pt-10 pb-12 pt-md-14 pb-md-6 text-center">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                <h1 class="display-1 mb-3">Privacy Policy</h1>
                <nav class="d-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homeView' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="wrapper">
    <div class="container pt-5 pb-12 pt-md-7 pb-md-6">
        <div class="card">
            <div class="card-body p-10">
                <p>Latest Update: August 2023</p>
                <p>Techys Digital Pvt Ltd(“Techys”, “we” or “us”) is committed to protecting and respecting your
                    privacy.</p>
                <p>This Policy (together with other documents referred to herein) describes what personal information we
                    collect from you and how we process your personal information.</p>
                <h3 class="mb-3">Personal data we collect from you</h3>
                <p>We will collect personal information on your visits to the Website including, but not limited to,
                    traffic data, location data, weblogs, content from surveys and contact forms and other communication
                    data and the resources that you access. Our collection of this personal information will make your
                    visit to the Website easier in the future as we will be able to suggest Content that is relevant to
                    you based on the location you access the Website from.</p>
                <p>We will collect any information you provide to us when you use our contact forms (for example
                    “Contact”, “Send us a Message”, “Get financial updates”, or “Contact us about working together”).
                    The provision of your personal information via our contact forms is not a statutory or contractual
                    requirement, however, please note that fields marked with an asterisk (*) are mandatory fields; we
                    need this information to comply with or respond to your request. Other information or personal
                    information you share with us when completing our contact forms is in your sole discretion. If you
                    contact us, we will keep a record of that correspondence.</p>
                <p>We use your personal information to send you direct marketing via e-mail when you opt-in for this
                    purpose in the relevant contact form. You may opt-out of receiving future marketing communications
                    at any time.</p>
                <p>When you use our online services, we also store cookies as set out in more detail in our COOKIE
                    POLICY.</p>
                <h3 class="mb-3">How we use your personal information</h3>
                <p>Your personal information will be collected and handled by us for the following purposes:</p>
                <ul>
                    <li>To best tailor Content and resources according to your preferences.</li>
                    <li>To respond to your request or questions when you contact us.</li>
                    <li>To send you information – such as Techys Digital upcoming events or newsletters – that may be of
                        interest to you.
                    </li>
                    <li>To help us create, publish, and improve the Content that is most relevant to you.</li>
                    <li>To ensure that the Content provided through the Website is presented in the most effective
                        manner for you and for your device.
                    </li>
                    <li>To allow you to participate in interactive features of our Website, when you choose to do so.
                    </li>
                    <li>To further develop and improve the Website and systems to better serve you.</li>
                </ul>
                <p>Our use of your information as described above is permitted by applicable data protection law because
                    it is: Necessary for our legitimate interests in pursuing the purposes set out above, and such
                    interests in each case not being overridden by your privacy interests; or</p>
                <ul>
                    <li>In some cases, necessary to meet our legal or regulatory responsibilities, such as disclosures
                        to authorities, regulators or government bodies; or
                    </li>
                    <li>In some cases, necessary for the performance of a task carried out in the public interest and,
                        when we use special categories of personal information, necessary for establishing. exercising
                        or defending legal claims or where the processing relates to personal information manifestly in
                        the public domain; or
                    </li>
                    <li>In limited circumstances, processed with your consent which we obtain from you from time to
                        time, such as when you opt-in to receive marketing communications and news via email. See
                        further information about B2B Communications in “Marketing communications” section below.
                    </li>
                </ul>
                <p>We do not make any solely automated decisions including those based on profiling, that have a legal
                    or similarly significant effect on you.</p>
                <p>We will keep your information for the longer of the period required in order to meet our legal or
                    regulatory responsibilities. Typically, this is for 2 years.</p>
                <h3 class="mb-3">Marketing Communications</h3>
                <p>We will only send marketing communications to you, as an individual, if you have consented to us
                    doing so. To receive marketing or promotional communications, you can opt-in by checking the
                    relevant box located on the form on which we collect your data.</p>
                <p>YB2B Communications. If you represent our prospect, partner or customer, either prior to entering
                    into an agreement with Techys Digital or during a business relationship between Techys Digital and
                    the legal entity which you represent, we may process your basic contact details (e.g. your name,
                    surname, job position, company name, e-mail, and phone number) so far as necessary to carry out our
                    joint business relationship. In that case, the processing of your personal data is based on our
                    legitimate interest in maintaining and developing our business relationship and customer base,
                    promoting our products, services, and customer loyalty programs. Generally, you cannot opt out of
                    these sorts of communications which are not marketing-related but merely required for the relevant
                    business relationship.</p>
                <p>You may easily opt out of receiving any further marketing communications at any time. Simply click
                    the ‘unsubscribe’ or ‘opt-out’ function at the bottom of the email. In addition, you can also
                    exercise your opt-out right at any time by contacting us at press.office@Techys Digital.com and
                    providing the following information: your name, your email address, a contact telephone number, the
                    marketing communications you would like to opt out of receiving. the marketing communications you
                    would like to opt out of receiving.</p>
                <h3 class="mb-3">Sharing with third parties</h3>
                <p>To facilitate our efficient use of your information, and to provide you with the content and/or
                    resources, we disclose your information to third parties. However, this disclosure will only occur
                    in the following circumstances:</p>
                <p>To suppliers, contractors and agents: from time to time we engage or employ other companies and
                    individuals to perform functions on our behalf. This category of third-parties includes:</p>
                <p>HCL (hosting and maintenance services) located at Interxion Amsterdam data center (Netherlands)
                    Such recipients will only have access to your personal information as required by them to perform
                    their functions and are not permitted to use such personal information for any other purposes. These
                    recipients will be subject to contractual confidentiality obligations.</p>
                <p>To other entities belonging to the Techys Digital Group (i.e. any companies directly or indirectly
                    controlled by Techys Digital). A list of Techys Digital Group companies is included here www.Techys
                    Digitalgroup.com/worldwide-locations including their suppliers, contractors and agents, which may be
                    involved in the provision of the Website or the content, so that we can better serve you or, simply,
                    to give response to your requests (e.g. when you use contact us forms).</p>
                <p>To government or law enforcement authorities if we determine in our sole discretion that we are under
                    a legal obligation to do so.</p>
                <h3 class="mb-3">IP addresses and cookies</h3>
                <p>We collect information about your computer, including (where available) your IP address, operating
                    system and browser type, for system administration. This is statistical data about our users’
                    browsing actions and patterns and does not identify you or any individual.</p>
                <p>For the same reason, we obtain information about your general internet usage by using a cookie file
                    which is stored on your device. Cookies help us to improve the Website and to deliver a better and
                    more personalised content. For more information about our use of cookies on the Website, please
                    refer to our Cookie Policy.</p>
                <p>If your computer is shared with other people, we advise that you do not select the ‘remember my
                    details’ option when that option is offered by the Website.</p>
                <h3 class="mb-3">Where your personal data is stored and processed</h3>
                <p>As explained in the “Sharing with third parties” paragraph above, we share your personal information
                    with the following:</p>
                <ul>
                    <li>Third party suppliers, contractors or agents: where we use a third party supplier, contractor or
                        agent, your personal information remains under our control and we have controls in place to
                        ensure your personal information is adequately protected.
                    </li>
                    <li>Other companies in the Techys Digital Group: we have entered into a groupwide arrangement to
                        ensure your personal information continues to be subject to an adequate level of protection. We
                        endeavour to take all steps reasonably necessary to ensure that your personal information is
                        treated securely and in accordance with this Policy.
                    </li>
                </ul>
                <h3 class="mb-3">Do we transfer your data outside of India?</h3>
                <p>Your personal information can be transferred and processed in one or more other countries outside of
                    India. We shall only transfer your data outside India to countries which provide adequate level of
                    data protection as defined by Indian data protection law, or where the Techys Digital Group has put
                    in place appropriate safeguards to seek to preserve the privacy of your information.</p>
                <h3 class="mb-3">Data Security</h3>
                <p>Although we will do our best to protect your personal information, you should be aware that the
                    transmission of information via the internet is not completely secure and we cannot guarantee the
                    security of your personal information transmitted to the Website or any third party; for this
                    reason, any transmission is at your own risk. We will use strict operational procedures and
                    adequate, technical and organizational security measures to prevent any unauthorized access, change,
                    deletion or transmission of this personal information.</p>
                <h3 class="mb-3">Changes to this Policy</h3>
                <p>The terms of this Policy may change from time to time. We shall publish any material changes to this
                    Policy through appropriate notices either on this website or contacting you using other
                    communication channels.</p>
                <h3 class="mb-3">Contact</h3>
                <p>Questions, comments and requests regarding this Policy are welcomed and should be addressed to
                    following address: connect.in@techys.digital</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extraJS %}
<script>

</script>
{% endblock %}