{% extends 'fe/base.html' %}
{% load static %}
{% block meta %}
<title>Terms of Use - {{webSettingsUniversal.title}}</title>
<meta name="description" content="{{webSettingsUniversal.meta_description}}">
<meta name="keywords" content="{{webSettingsUniversal.meta_keywords}}">
<meta property="og:title" content="Terms of Use - {{webSettingsUniversal.title}}"/>
<meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
<meta property="og:site_name" content="{{webSettingsUniversal.title}} - {{webSettingsUniversal.slogan}}"/>
{% endblock %}
{% block content %}
<section class="wrapper bg-light">
    <div class="container pt-10 pb-12 pt-md-14 pb-md-6 text-center">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                <h1 class="display-1 mb-3">Terms of Use</h1>
                <nav class="d-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homeView' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="wrapper">
    <div class="container pt-5 pb-12 pt-md-7 pb-md-6">
        <div class="card">
            <div class="card-body p-10">
                <p>Latest Update: August 2023</p>
                <h2 class="mb-3">Object and Acceptance</h2>
                <p>These terms of use (the “Terms of Use”) govern the use of (including access to) the website
                    www.techys.digital operated by Techys Digital Pvt Ltd [ (hereinafter referred to as “Techys”, “we” or
                    “us”) including the content made available through this website (the “Website”).</p>
                <p>Any person who accesses the Website (“you”) hereby accepts these Terms of Use in force at the time of
                    your visit to the Website and agrees to abide by such Terms of Use. These Terms of Use may be varied
                    from time to time, and your use of this Website is subject to the current Terms of Use as of the date of
                    your use of the website. Please check these Terms of Use regularly to ensure you agree to them. If you
                    do not agree to them, please refrain from using the Website.</p>
                <p>The content we make available to you through the Website (the “Content”) may be governed by special
                    conditions (“Special Conditions”) which you accept each time you access such Content. In the event of a
                    conflict or inconsistency between these Terms of Use and any Special Conditions, the Special Conditions
                    will prevail over these Terms of Use. Each time you access the Website and its Content, you accept these
                    Terms of Use and any Special Conditions applicable to that Content.</p>
                <p>The Website does not constitute or purport to constitute a source of advice or a means to establish a
                    business relationship of any kind between you and us.</p>
                <p>Access to the Website is permitted on a temporary basis, and we reserve the right to withdraw or amend
                    the Content we provide on the Website without notice. From time to time, we may restrict access to some
                    parts of the Website, or the entire Website.</p>
                <p>We are not under any duty to make the Website available and will not be liable if for any reason the
                    Website is unavailable, totally or partially, at any time or for any period.</p>
                <h3 class="mb-3">Use of this Website</h3>
                <p>You acknowledge and voluntarily and expressly accept that your use of the Website is made under your sole
                    and exclusive responsibility.</p>
                <p>You are responsible for making all arrangements necessary for you to have access to the Website. You are
                    also responsible for ensuring that all persons who access the Website through your internet connection
                    are aware of these Terms of Use and any applicable Special Conditions, and that they comply with
                    them.</p>
                <p>If you choose, or you are provided with, a user identification code, password or any other piece of
                    information as part of our security procedures, you must treat such information as confidential, and you
                    must not disclose it to any third party. We have the right to disable any user identification code or
                    password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to
                    comply with any of the provisions of these Terms of Use.</p>
                <p>By accessing the Website you agree that you will not perform any acts that may damage our image,
                    interests or rights or those of any of our affiliates (“Adecco Group Companies”), or that may damage,
                    render useless or overload the Website, or that may impede, in any way, the normal use of the Website by
                    other visitors.</p>
                <p>We implement reasonable security measures which are adequate to detect the existence of viruses.
                    Nevertheless, you must be aware that the existing security measures for computer systems on the internet
                    are not entirely trustworthy and that, therefore, we cannot guarantee the non-existence of viruses or
                    any other elements that may cause alterations to your computer systems (hardware and software) or to
                    your data and files contained in your systems.</p>
                <p>You acknowledge and voluntarily and expressly accept that your use of the Website is made under your sole
                    and exclusive responsibility.</p>
                <p>You are responsible for making all arrangements necessary for you to have access to the Website. You are
                    also responsible for ensuring that all persons who access the Website through your internet connection
                    are aware of these Terms of Use and any applicable Special Conditions, and that they comply with
                    them.</p>
                <p>If you choose, or you are provided with, a user identification code, password or any other piece of
                    information as part of our security procedures, you must treat such information as confidential, and you
                    must not disclose it to any third party. We have the right to disable any user identification code or
                    password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to
                    comply with any of the provisions of these Terms of Use.</p>
                <p>By accessing the Website you agree that you will not perform any acts that may damage our image,
                    interests or rights or those of any of our affiliates (“Techys Digital Group Companies”), or that may
                    damage, render useless or overload the Website, or that may impede, in any way, the normal use of the
                    Website by other visitors.</p>
                <p>We implement reasonable security measures which are adequate to detect the existence of viruses.
                    Nevertheless, you must be aware that the existing security measures for computer systems on the internet
                    are not entirely trustworthy and that, therefore, we cannot guarantee the non-existence of viruses or
                    any other elements that may cause alterations to your computer systems (hardware and software) or to
                    your data and files contained in your system.</p>
                <h3 class="mb-3">Intellectual property rights</h3>
                <p>All Content on the Website is either owned by us or is licensed for use by us. Everything you see or read
                    on the Website (such as images, photographs, illustrations, texts, video clips and other materials) is
                    protected worldwide by copyright, design, trademark and other intellectual property laws. You must
                    always respect all intellectual property rights in the Website and the Content, whether owned by us, any
                    of the Techys Digital Group Companies or a third party. You must not obtain or attempt to obtain any of
                    the Content by means or procedures other than those which have been made available to you by the
                    Website.</p>
                <p>In no event will these Terms of Use or your use of the Website grant you any intellectual property rights
                    in the Website or the Content other than those set out herein or in any Special Conditions. You are
                    therefore expressly prohibited to carry out any reproduction, transformation, distribution or public
                    communication of, or to make available, extract, reuse, resend or in any other way use, by any means or
                    procedure, any parts of the Website or the Content, except as allowed by these Terms of Use or any
                    relevant Special Conditions, or when you are allowed to do so by applicable law, or when explicit
                    authorization has been provided by the holder of the relevant rights.</p>
                <h3 class="mb-3">Law and jurisdiction</h3>
                <p>These Terms of Use and all issues regarding this Website and its Content are governed by Indian law and
                    shall be subject to the exclusive jurisdiction of the ordinary courts of the city of Noida, India.</p>
                <h3 class="mb-3">Amendments</h3>
                <p>These Terms of Use may be varied from time to time and your use of this Website is subject to the then
                    current terms each time you access the Website and its Content. Please check these Terms of Use
                    regularly to ensure you are familiar with them.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extraJS %}
<script>

</script>
{% endblock %}