<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="{% url 'home' %}">
                    <img src="{{webSettingsUniversal.logo_dark.url}}" alt="{{webSettingsUniversal.title}} Logo"/>
                </a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-menu-wrap mobile-header-border">
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">About</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">School Wear</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Sports Wear</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Spirit Wear</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Book Appointment</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                </div>
            </div>
        </div>
    </div>
</div>